<h1>SUMMARY ITO</h1>

<div class="content">
    <div class="container">
        <div class="back-icon">
            <img src="../../assets/images/back-arrow.svg" alt="back" />
            <h3 class="back-title">Back</h3>
        </div>

        <div class="content-title">
            <h1 class="main-title">Summary</h1>
            <h3 class="description-title">Please double check your entries before booking</h3>
        </div>

        <div class="selected-service">
            <h3 class="title">Selected Service</h3>
            <h1 class="service">Pet Check-up - OPD</h1>
        </div>

        <div class="selected-date">
            <h3 class="title">Selected Date & Time</h3>
            <h1 class="service">July 3, 2023 - 1:00 PM</h1>
        </div>

        <hr class="dashed" />

        <h3 class="caption">PERSONAL DETAILS</h3>

        <h3 class="container-title">Name</h3>
        <h1 class="container-value">Alexandra Marquez</h1>

        <h3 class="container-title">Mobile Number</h3>
        <h1 class="container-value">(+63) 916-001-1234</h1>

        <h3 class="container-title">Email</h3>
        <h1 class="container-value">alex.marquez21@gmail.com</h1>

        <hr class="dashed" />

        <h3 class="container-title">Remarks</h3>
        <h1 class="container-value">lorem ipusm dolor sit amet</h1>

        <div class="agree">
            <h3 class="agreement">By booking an appointment, you agree to our <span>Terms & Conditions</span></h3>
        </div>

        <div class="submit-button">
            <button type="submit" class="proceed-btn">Proceed</button>
          </div>
    </div>
</div>