<div class="header">

  <div class="left">
    <img src="../assets/images/logo.png" alt="logo" class="logo" />
  </div>

  <div class="right">
    <h1 class="logo-name">Petzania Animal Clinic</h1>
    <h3 class="branch">BGC Taguig</h3>
  </div>
  
</div>

<ng-container *ngIf="!showServicesType; else servicesType">
  <app-services-list (showServicesType)="showServicesType = $event"></app-services-list>
</ng-container>

<ng-template #servicesType>
  <app-services-type></app-services-type>
</ng-template>